services:
  postgres:
    image: 'postgres:latest'
    environment:
      - 'POSTGRES_DB=movieplay'
      - 'POSTGRES_PASSWORD=secret'
      - 'POSTGRES_USER=myuser'
    ports:
      - '5432:5432'
    volumes:
      - pgdata:/data/postgres

volumes:
  pgdata: